


.ui-segment-inverted-olive-bot-army {
  background-color: olive;


}


.ui.card {
  background-color: #f4f4f4; /* Grey background color */
  padding: 20px; /* Adjust as needed for spacing inside the card */
  border-radius: 5px; 
  margin-bottom: 20px;
max-width: 250px;
overflow: hidden;
    /* Add rounded corners for aesthetics */
}

.ui-four-column-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* At least 5 bots per row */
  gap: 10px;
}