
.bot-card-container {
  margin: 10px;
  display: inline-block;
}

.small-card {
  width: 131px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  height: 210px;
}
.small-card img {
  max-width: 75%; 
  height: auto;
  display: block; 
  margin: 0 auto; 
}

.card-content {
  padding-top: 10px;
}

.bot-name {
  font-weight: bold;
  font-size: 12px;
}

.catchphrase {
  margin-top: 5px;
  font-size: 11px;
}

.stats {
  margin-top: 5px;
  font-size: 11px;
}

.discharge-button,
.add-to-army-button {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background: #e8f1fa;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  color: black;
  font-size: 10px;

}

.discharge-button:hover,
.add-to-army-button:hover {
  background: #0056b3;
}
.bot-army {
  background-color: olivedrab;
  margin-bottom: 20px;
}